:host{
    background-color: #EDF1F7;
}

.plusButton{
    position: absolute;
    bottom: 40px;
    right: 40px;
}

/*Dialog*/
.label {
    margin-right: 20px;
}


.btn-cancel ::ng-deep .p-button  {
    background-color: red;
    border: none;
}
.btn-default ::ng-deep .p-button  {
    background-color: #001C48;
    border: none;
}
