<div class="unauthorized-container">
    <div class="unauthorized-content">
      <img src="/assets/401.png" alt="Unauthorized" class="unauthorized-image" style="width: 15rem;"/>
      <h1 class="error-code">403</h1>
      <h2 class="error-message">¡Acceso denegado!</h2>
      <p class="error-description">
        Lo sentimos, pero no tienes permiso para acceder a esta página.<br />
        Si crees que esto es un error, contacta con el administrador.
      </p>
      <div class="action-buttons">
        <button (click)="goHome()" class="btn-go-home">Volver al Inicio</button>
      </div>
    </div>
  </div>
  