<p-table [value]="carreras" [tableStyle]="{ 'min-width': '10rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Director EP</th>
      <th>Nro de Estudiantes</th>
      <th>IsActive</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-carrera>
    <tr>
      <td>{{ carrera.idCarrera }}</td>
      <td>{{ carrera.nombre }}</td>
      <td>{{ carrera.directorCarrera }}</td>
      <td>{{ carrera.nroEstudiantes }}</td>
      <td>{{ carrera.isActive }}</td>
    </tr>
  </ng-template>
</p-table>
