<p-table [value]="rubros" [tableStyle]="{ 'min-width': '10rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Ponderado</th>
      <th>IsActive</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rubro>
    <tr>
      <td>{{ rubro.idRubro }}</td>
      <td>{{ rubro.nombre }}</td>
      <td>{{ rubro.descripcion }}</td>
      <td>{{ rubro.ponderado }}</td>
      <td>{{ rubro.isActive }}</td>
    </tr>
  </ng-template>
</p-table>
