
<div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="pi" [ngClass]="{ 'pi-chevron-left': !isCollapsed, 'pi-chevron-right': isCollapsed }"></i>
    </button>

    <ul class="menu">

        <li *ngFor="let acceso of accesos">
        <a [routerLink]="acceso.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="pi icon" [ngClass]="acceso.icono"></i>
          <span *ngIf="!isCollapsed">{{ acceso.titulo }}</span>
        </a>
        </li>
    </ul>

    <hr class="divider">
    <ul class="menu">
        <li>
        <a [routerLink]="'/layout/notificaciones'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="pi pi-bell icon"></i>
          <span *ngIf="!isCollapsed">Notificaciones</span>
        </a>
    </li>
    <li>
        <a [routerLink]="'/layout/configuracion'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="pi pi-cog icon"></i>
          <span *ngIf="!isCollapsed">Configuración</span>
        </a>
    </li>
    <li>
        <a [routerLink]="'/layout/support'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="pi pi-info-circle icon"></i>
          <span *ngIf="!isCollapsed">Support</span>
        </a>
    </li>
    <li>
        <a (click)="logout()">
            <i class="pi pi-sign-out icon"></i>
          <span *ngIf="!isCollapsed">Cerrar Sesión</span>
        </a>
    </li>
    </ul>
</div>