<div class="tabs">
  <!-- Navegación entre CRUD -->
  <button
    pButton
    label="Accesos"
    (click)="cambiarTab('acceso')"
    class="p-button-text"
    [class.p-button-outlined]="selectedTab !== 'acceso'"
  ></button>
  <button
    pButton
    label="Roles"
    (click)="cambiarTab('rol')"
    class="p-button-text"
    [class.p-button-outlined]="selectedTab !== 'rol'"
  ></button>
  <button
    pButton
    label="AccesoRol"
    (click)="cambiarTab('accesorol')"
    class="p-button-text"
    [class.p-button-outlined]="selectedTab !== 'accesorol'"
  ></button>
</div>

<!-- Contenido dinámico -->
<div>
  <app-acceso *ngIf="selectedTab === 'acceso'"></app-acceso>
  <app-rol *ngIf="selectedTab === 'rol'"></app-rol>
  <app-acceso-rol *ngIf="selectedTab === 'accesorol'"></app-acceso-rol>
</div>
