<div class="dashboard-container">
    <div class="sidebar">
        <div class="user-info">
            <img src="assets/userDefault.png" alt="Perfil" class="profile-image" />
            <h2 class="user-name">{{fullName}}</h2>
            <p class="user-details">UPeU - Sede Lima</p>
            <button class="logout-button"(click)="Logout()">CERRAR SESIÓN</button>
            <p class="change-password">(Cambiar contraseña)</p>
        </div>
    </div>

    <div class="content">
        <ng-container *ngIf="isStudent">
            <div class="practice-module" [routerLink]="'/ppp'">
                <i class="pi pi-user" style="font-size: 7.5rem"></i>
                <p>PORTAL ESTUDIANTE</p>
            </div>
        </ng-container>
        <ng-container *ngIf="isCoordinatorPPP">
            <div class="practice-module" [routerLink]="'/layout'">
                <i class="pi pi-address-book" style="font-size: 7.5rem"></i>
                <p>PORTAL COORDINADOR</p>
            </div>
        </ng-container>
        <ng-container *ngIf="isSupervisor">
            <div class="practice-module" [routerLink]="'/layout'">
                <i class="pi pi-book" style="font-size: 7.5rem"></i>
                <p>PORTAL SUPERVISOR</p>
            </div>
        </ng-container>
        <ng-container *ngIf="isSecretary">
            <div class="practice-module" [routerLink]="'/layout'">
                <i class="pi pi-users" style="font-size: 7.5rem"></i>
                <p>PORTAL SECRETARIA</p>
            </div>
        </ng-container>
    </div>
</div>
